.fkw-popup {
  cursor: auto;
  transition: 0.2s ease-in-out;

  &--noScroll {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  &-animation {
    &--fade {
      opacity: 1;

      &:not(.fkw-popup--open) {
        opacity: 0;
      }
    }

    &--scale {
      scale: 1;

      &:not(.fkw-popup--open) {
        scale: 0.8;
      }
    }
  }

  &-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba($color: #000000, $alpha: 0.2);
    -webkit-tap-highlight-color: transparent;
    contain: paint;
    opacity: 0;
    visibility: hidden;
    touch-action: none;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &--open {
      opacity: 1;
      visibility: visible;
      touch-action: auto;
      pointer-events: auto;
    }
  }

  &-button {
    cursor: pointer;
  }
}
